name: Build and Artifact

on:
  pull_request:
    branches:
      - 'main'

  push:
    branches:
      - 'main'

  workflow_dispatch:

jobs:
  artifact:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: 'zulu'

      - name: Grant execute permission for gradlew
        if: runner.os == 'Linux'
        run: chmod +x gradlew

      - name: Build with Gradle (Linux)
        if: runner.os == 'Linux'
        run: ./gradlew -Pver=${GITHUB_RUN_NUMBER} build --info

      - name: Build with Gradle (Windows)
        if: runner.os == 'Windows'
        run: ./gradlew build --info

      - name: Upload artifact
        if: runner.os == 'Linux'
        uses: actions/upload-artifact@v2.2.3
        with:
          name: Compiled Jar(s)
          path: ${{ github.workspace }}/build/libs/
